<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog API</title>
</head>
<body>
    <p>Unfortunately there is no frontend to make use of this API yet. In order to test it you will need a software which is able to set up message headers and send post requests, for example <a href="https://www.getpostman.com/">Postman</a>.</p>

    <p>Please refer to the <a href="https://github.com/trolleksii/blog/blob/master/API_SPECS.md">API Specs</a> to find out which endpoints are available for use and what should be the message format.</p>
</body>
</html>